.face-recognition-container video {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 20px solid white;
  max-width: 100%;
  height: auto;
}
.face-recognition-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}
