.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 720px;
  margin: 100px auto;
  overflow: hidden;
}
.login .form-body {
  padding: 0 20px;
  min-width: 300px;
}
.login .form-name {
  margin: 20px 0;
  text-align: center;
  color: var(--main-text);
}
/* Email */
.login .form-body .email {
  margin-bottom: 15px;
  color: var(--main-text);
  width: 100%;
}
.login .form-body .email label {
  display: block;
}
.login .form-body .email input {
  width: 100%;
  height: 35px;
  color: var(--main-text);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--light-text);
  padding: 5px;
}
/* Password */
.login .form-body .password {
  margin-bottom: 15px;
  color: var(--main-text);
  width: 100%;
}
.login .form-body .password label {
  display: block;
}
.login .form-body .password input {
  width: 100%;
  height: 35px;
  color: var(--main-text);
  border: 1px solid rgb(182, 182, 182);
  border-radius: 0.2rem;
  margin-top: 5px;
  outline-color: var(--light-text);
  padding: 5px;
}
/* Button Submit */
.login .form-body .submit {
  margin: 10px 0;
}
.login .form-body .submit button {
  margin-top: 20px;
  padding: 5px;
  width: 100%;
  height: 40px;
  background: var(--primary);
  border: none;
  border-radius: 0.3rem;
  color: var(--main-text);
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9rem;
}
.login .form-body .submit button:hover {
  background: var(--secondary);
}

/* Save and Forgot Password */
.login .form-body .password-config {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login .form-body .password-config .save {
  display: flex;
  align-items: center;
}
.login .form-body .password-config .save label {
  color: var(--main-text);
  font-size: 0.8rem;
  margin-left: 5px;
}
.login .form-body .password-config .forgot a {
  text-decoration: none;
  color: var(--main-text);
  font-size: 0.9rem;
}

/* Create new account */
.login .sign-up-account a {
  text-decoration: none;
  font-size: 0.8rem;
  color: var(--light-text);
}
.login .sign-up-account {
  margin: 20px 0;
}

/* incorrect */
.login .incorrect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.login .incorrect .message {
  color: var(--error);
  font-size: 0.8rem;
  margin-right: 5px;
  transform: translateY(-3px);
}
.login .incorrect svg {
  height: 15px;
  cursor: pointer;
  color: var(--main-text);
}
/* Google Button */

.google-login {
  width: 100%;
}
.google-button {
  text-decoration: none;
  width: 100%;
  height: 40px;
  background: white;
  color: var(--main-text);
  border-radius: 5px;
  white-space: nowrap;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  -webkit-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.google-button:focus,
.google-button:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.google-button:active {
  background-color: #e5e5e5;
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}
.google-button-icon {
  /* display: inline-block; */
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}
.google-button-text {
  /* display: inline-block; */
  vertical-align: middle;
  padding: 0 24px;
  font-size: 14px;
}
.login-with-face {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  margin: 10px 0;
  padding: 2px 5px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}
.login-with-face .login-face {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--main-text);
}
.login-with-face svg {
  height: 35px;
  width: 35px;
  margin: 0 10px;
}
.login-with-face:focus,
.login-with-face:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.login-with-face:active {
  background-color: var(--secondary);
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}
