.uploader-container .direct-image label span {
  cursor: pointer;
  color: var(--main-text);
  background: var(--primary);
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
  font-size: 0.9rem;
}
.uploader-container .direct-image label span:focus,
.uploader-container .direct-image label span:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.uploader-container .direct-image label span:active {
  background-color: var(--secondary);
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}
.uploader-container .direct-image .image-name {
  color: var(--main-text);
  display: inline-block;
  font-size: 0.8rem;
}
.uploader-container .direct-image .uploader {
  opacity: 0;
  height: 0;
  width: 0;
}
.uploader-container .break {
  margin: 10px 10px 5px 10px;
  font-size: 0.95rem;
  display: inline-block;
}
.uploader-container .take-photo {
  display: inline-block;
  width: 50px;
  cursor: pointer;
  color: var(--main-text);
  background: var(--primary);
  text-align: center;
  padding: 5px 5px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
  font-size: 0.9rem;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}
.uploader-container .take-photo:focus,
.uploader-container .take-photo:hover {
  box-shadow: 1px 4px 5px 1px rgba(0, 0, 0, 0.1);
}
.uploader-container .take-photo:active {
  background-color: var(--secondary);
  box-shadow: none;
  -webkit-transition-duration: 10ms;
  transition-duration: 10ms;
}
.uploader-container .camera {
  display: none;
}
.uploader-container .camera .pre-images {
  display: flex;
  justify-content: center;
  align-items: center;
}
.uploader-container .camera video {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  padding: 5px;
}
.uploader-container .camera img {
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  padding: 5px;
  height: 280px;
  width: 370px;
}
.uploader-container .camera .take-photo-buttons {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.uploader-container .camera .take-photo-buttons > div {
  margin: 5px;
  font-size: 0.5rem !important;
  cursor: pointer;
}
